@use "util/global" as *;

@include setup;

// Fonts
@font-face {
  font-family: "Fraunces";
  src: url("../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf")
    format(truetype);
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/static/Manrope-Regular.ttf")
    format(truetype);
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Fraunces";
    src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
      format("truetype-variations");
  }

  @font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
      format("truetype-variations");
  }
}

// Colors
:root {
  --clr-header-bg: #{$dark-purple};
  --clr-header-text: #{$white};
  --clr-header-link: #{$white};
  --clr-header-link-active: #{$eucalyptus};
  --clr-header-underline: #{$eucalyptus};
  --clr-button-bg: #{$eucalyptus};
  --clr-button-text: #{$dark-purple};
  --clr-list-bg: #{$ghost-white};
  --clr-list-ordinal: #{$dark-purple};
  --clr-list-ordinal-border: #{$davys-gray};
  --clr-heading: #{$dark-purple};
  --clr-list-paragraph: #{$davys-gray};
  --clr-test-textbox-bg: #{$dark-purple};
  --clr-test-textbox-text: #{$white};
  --clr-social-icon: #{$davys-gray};
  --clr-social-icon-active: #{$dark-purple};

  --curve-height: #{rem(17.71px)};
  @media (min-width: $w-tablet) {
    --curve-height: #{rem(36.24px)};
    //fluid
  }
  @media (min-width: $w-desktop) {
    --curve-height: #{rem(68px)};
  }
}

body,
button {
  font-family: "Manrope", sans-serif;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  font-variation-settings: "opsz" 144;
}

#curve-def {
  position: absolute;
  width: 0;
  height: 0;
}

%curve {
  content: "";
  display: block;
  width: 100%;
  height: var(--curve-height);
  background-color: inherit;
  position: absolute;
  left: 0;
  bottom: calc(var(--curve-height) * -1);
  clip-path: url("#curve");
}

.header {
  background: {
    color: var(--clr-header-bg);
    image: url("../assets/images/bg-pattern-1.svg"),
      url("../assets/images/bg-pattern-2.svg");
    position: -500px 71.12px, -500px -500px; //TODO - match speed
    repeat: no-repeat;
  }
  color: var(--clr-header-text);
  padding: {
    top: rem(32px);
    inline: rem(16px);
    bottom: rem(139px);
  }
  @media (min-width: $w-tablet) {
    padding: {
      inline: rem(40px);
      bottom: rem(167px);
    }
    background-position: -227.27px 71.12px, top 250px right -93.68px;
    //fluid
  }
  @media (min-width: $w-desktop) {
    padding: {
      top: rem(56px);
      inline: rem(165px);
      bottom: rem(258px);
    }
    background-position: -138.27px 116.12px, top 314.07px right -48.04px;
  }
  position: relative;
  &::after {
    @extend %curve;
    z-index: 1;
  }
}

.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(66px);
  @media (min-width: $w-tablet) {
    margin-bottom: rem(58px);
    //fluid
  }
}

.logo {
  width: rem(95.762px);
  height: rem(24.608px);
}

.logo--header {
  margin-top: rem(5px);
  @media (min-width: $w-desktop) {
    margin-top: rem(1.78px);
  }
}

.header-link {
  &,
  &:visited {
    color: var(--clr-header-link);
    font-size: rem(16px);
    font-weight: 700;
    line-height: div(32px, 16px);
    letter-spacing: rem(-0.16px);
    text-decoration-color: var(--clr-header-underline);
    text-decoration-thickness: rem(3px);
    text-underline-offset: rem(8px);
    transition: color 0.2s ease;
    @media (min-width: $w-desktop) {
      font-size: rem(18px);
      line-height: div(32px, 18px);
      letter-spacing: rem(-0.18px);
      text-underline-offset: rem(10px);
    }
  }
  &:active,
  &:hover,
  &:focus {
    color: var(--clr-header-link-active);
    outline: 0;
  }
}

.header-title {
  font-size: rem(50px);
  font-weight: 600;
  line-height: 1;
  text-align: center;
  margin: {
    inline: auto;
    bottom: rem(40px);
  }
  font-variation-settings: "opsz" 144;
  max-width: rem(485px);
  @media (min-width: $w-tablet) {
    font-size: rem(60px);
    margin-bottom: rem(39px);
    //fluid
  }
  @media (min-width: $w-desktop) {
    font-size: rem(80px);
    margin-bottom: rem(37px);
    max-width: rem(490px);
  }
}

.title-underline {
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: var(--clr-header-underline);
  text-decoration-thickness: rem(3px);
  text-underline-offset: rem(7px);
  @media (min-width: $w-desktop) {
    text-underline-offset: rem(11px);
  }
}

.button {
  background-color: var(--clr-button-bg);
  color: var(--clr-button-text);
  border: 2px solid var(--clr-button-bg);
  padding: rem(10px) rem(22.5px);
  font-size: rem(16px);
  font-weight: 700;
  line-height: div(32px, 16px);
  letter-spacing: rem(-0.16px);
  display: block;
  cursor: pointer;
  transition: all 0.2s ease;
  @media (min-width: $w-desktop) {
    padding: rem(13px) rem(32px);
    font-size: rem(18px);
    line-height: div(32px, 18px);
    letter-spacing: rem(-0.18px);
  }
  &:hover,
  &:active {
    color: var(--clr-button-bg);
    background-color: var(--clr-button-text);
  }
}

.button--header {
  margin: auto;
}

.header-hero {
  position: absolute;
  bottom: rem(-103.16px);
  left: 50%;
  translate: -50%;
  width: rem(320px);
  height: rem(184px);
  z-index: 2;
  @media (min-width: $w-tablet) {
    width: rem(514px);
    height: rem(296px);
    bottom: rem(-184px);
    //fluid
  }
  @media (min-width: $w-desktop) {
    width: rem(767px);
    height: rem(441px);
    bottom: rem(-233px);
  }
}

.main-list-section {
  background-color: var(--clr-list-bg);
  padding: {
    top: rem(173px);
    inline: rem(16px);
    bottom: rem(54px);
  }
  position: relative;
  &:after {
    @extend %curve;
  }
  @media (min-width: $w-tablet) {
    padding: {
      top: rem(240px);
      inline: rem(98px);
      bottom: rem(67.49px);
    }
  }
  @media (min-width: $w-desktop) {
    padding: {
      top: rem(323px);
      inline: rem(163px);
      bottom: rem(103px);
    }
  }
}

.main-list {
  list-style-type: none;
  display: grid;
  text-align: center;
  @media (min-width: $w-tablet) {
    grid-template-columns: min-content 1fr;
    column-gap: rem(32px);
    align-items: center;
    text-align: left;
  }
  @media (min-width: $w-desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    row-gap: rem(56px);
    column-gap: rem(26px);
    grid-auto-flow: column;
    text-align: center;
    align-items: flex-start;
  }
}

.list-text:not(:last-child) {
  margin-bottom: rem(40px);
  @media (min-width: $w-tablet) {
    margin-bottom: rem(48px);
  }
  @media (min-width: $w-desktop) {
    margin-bottom: 0;
  }
}

.list-ordinal {
  font-size: rem(20px);
  font-family: "Fraunces", serif;
  font-weight: 600;
  line-height: div(36px, 20px);
  font-variation-settings: "opsz" 144;
  color: var(--clr-list-ordinal);
  border: 1px solid var(--clr-list-ordinal-border);
  width: rem(48px);
  height: rem(46px);
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin: 0 auto rem(24px);
  @media (min-width: $w-desktop) {
    width: rem(56px);
    height: rem(56px);
    font-size: rem(24px);
    line-height: div(40px, 24px);
    margin-bottom: 0;
  }
}

.list-heading {
  font-size: rem(28px);
  font-weight: 600;
  line-height: div(36px, 28px);
  color: var(--clr-heading);
  margin-bottom: rem(16px);
  @media (min-width: $w-desktop) {
    font-size: rem(32px);
    line-height: div(40px, 32px);
    margin-bottom: rem(28px);
  }
}

.list-paragraph {
  font-size: rem(16px);
  font-weight: 400;
  line-height: div(28px, 16px);
  color: var(--clr-list-paragraph);
  @media (min-width: $w-desktop) {
    font-size: rem(18px);
    line-height: div(32px, 18px);
  }
}

.main-test {
  padding: {
    top: rem(118px);
    inline: rem(16px);
  }
  margin-bottom: rem(21px);
  @media (min-width: $w-tablet) {
    padding: {
      top: rem(136.51px);
      inline: rem(40px);
    }
    margin-bottom: rem(-50px);
  }
  @media (min-width: $w-desktop) {
    padding: {
      top: rem(178px);
      inline: rem(164px);
    }
    margin-bottom: rem(-184.22px);
  }
}

.test-portrait {
  width: rem(281px);
  height: rem(281px);
  margin: 0 auto;
  display: block;
  @media (min-width: $w-tablet) {
    margin: 0;
  }
  @media (min-width: $w-desktop) {
    width: rem(477px);
    height: rem(477px);
  }
}

.test-textbox {
  background-color: var(--clr-test-textbox-bg);
  color: var(--clr-test-textbox-text);
  padding: rem(32px) rem(31px);
  position: relative;
  top: rem(-53px);
  text-align: center;
  @media (min-width: $w-tablet) {
    max-width: rem(514px);
    top: rem(-130px);
    margin-left: auto;
    padding: rem(48px) rem(56px) rem(56px);
    text-align: left;
    &::after {
      content: url("../assets/images/bg-pattern-3.svg");
      position: absolute;
      right: rem(12.69px);
      bottom: rem(-105.74px);
      @media (min-width: $w-desktop) {
        right: rem(72.69px);
        bottom: rem(-61.74px);
      }
    }
  }
  @media (min-width: $w-desktop) {
    max-width: rem(730px);
    top: rem(-304px);
    padding: rem(64px);
  }
}

.textbox-heading {
  font-size: rem(32px);
  font-weight: 600;
  line-height: div(48px, 32px);
  margin-bottom: rem(16px);
  @media (min-width: $w-tablet) {
    font-size: rem(48px);
    line-height: div(56px, 48px);
    margin-bottom: rem(24px);
  }
  @media (min-width: $w-desktop) {
    font-size: rem(56px);
    line-height: div(64px, 56px);
    margin-bottom: rem(32px);
  }
}

.textbox-paragraph {
  font-size: rem(16px);
  font-weight: 400;
  line-height: div(28px, 16px);
  margin-bottom: rem(24px);
  @media (min-width: $w-desktop) {
    font-size: rem(18px);
    line-height: div(32px, 18px);
    margin-bottom: rem(32px);
  }
}

.button--textbox {
  margin: auto;
  @media (min-width: $w-tablet) {
    margin: 0;
  }
}

.footer {
  width: rem(116px);
  height: rem(102.60797px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: rem(63.78px);
  @media (min-width: $w-tablet) {
    margin-bottom: rem(121.32px);
  }
  @media (min-width: $w-desktop) {
    margin-bottom: rem(110px);
  }
}

.footer-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  a {
    &,
    &:visited {
      color: var(--clr-social-icon);
    }

    &:hover,
    &:active {
      color: var(--clr-social-icon-active);
    }
  }
}
