$REM: 16;
$breakpoint: undefined;

// Colors

$dark-purple: hsl(273, 85%, 13%);
$eucalyptus: hsl(150, 100%, 63%);
$davys-gray: hsl(271, 12%, 34%);
$ghost-white: hsl(274, 100%, 99%);
$white: hsl(0, 0%, 100%);

// Breakpoints

$w-mobile: 375px;
$w-tablet: 768px;
$w-desktop: 1440px;
